* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-image: url(../images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header .header-info{
    text-align: right;
    padding: 216px 0;
    margin-right: 230px;
    
}
.header-info .header-tytle{
    font-size: 65px;
    color: #151414;
    font-weight: 700;
}
.header-discription{
    font-size: 16px;
    color: #444343;
    margin: 24px 0 31px;
    
}
.contract-us-button{
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 20px 25px;
    color: #FFFFFF;
    font-weight:bold;
}
